{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ],
    "@babel/preset-flow",
    "@babel/react"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
  ],
  "@babel/plugin-syntax-flow",
  "@babel/plugin-transform-react-jsx",
  [
    "module-resolver",
    {
      "root": [
        "./src"
      ],
      "alias": {
        "app": "./",
        "components": "./src/components",
        "consts": "./src/consts",
        "utils": "./src/utils"
      }
    }
  ]]
}
