.c-card {
  display: flex;
  width: 100%;

  flex-direction: column;
  align-items: center;
}

.c-card__header {
  margin-bottom: .75rem;

  font-weight: 700;
}

.c-card__title {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 1.25rem;
}

.c-card__body {
  width: 100%;
}

.c-card__overview {
  margin-top: 0;

  font-size: .85rem;
}
